@mixin addWh($w:0,$h:0,$bg:0,$magin:0,$overflow:0){
    @if($w != 0){
        width: #{$w}px;
    }
    @if($h != 0){
        height: #{$h}px;
    }
    @if($bg != 0){
        background: $bg;
    }
    @if($magin != 0){
        margin: $magin;
    }
    @if($overflow != 0){
        overflow: $overflow;
    }
}

.padMar{
    margin: 0;
    padding: 0;
}
.con_ul{
    >*{@extend .padMar;}
    overflow: hidden;
    @include addWh(1200,0,0,0 auto );
    >li{
        list-style: none;
        float: left;
        margin: 10px;
        @include addWh(200,0,0,0,0 10px );
        >img{
            display: block;
            @include addWh(200,270 );
        }
    }
}
.btn_div{
    @include addWh(1200,30,0,0 auto );
    line-height: 30px;
    text-align: center;
    >span{
        cursor: pointer;
        padding: 10px;
        background: #888
    }
}
// // 
// body>ul{
//     @extend .padMar; 
//     @include addWh(1100,0,0,1,hidden);
//     >li{
//         @extend .padMar;
//         list-style: none;
//         float: left;
//         >div{
//             @include addWh(200,350,red);
//             float: left;
//             margin: 10px;
//             position: relative;
//             >img{
//                 display: block;
//                 @include addWh(200,300);
//             }
//             >div{
//                 @include addWh(200,50,pink);
//                 position: absolute;
//                 bottom: 0px;
//             }
//         }
//     }
// }
// body>ol{

// }
